<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マネマネ-monemana-</title>
</head>

<body>
<h1>マネマネ-monemana-</h1>

<form action="/add">
    <table>
        <tr>
            <td>
                <input type="radio" name="expenseBool" value="支出" checked/>支出
                <input type="radio" name="expenseBool" value="収入"/>収入
                <label>日付</label>
                <input name="date" type="date"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>金額</label>
                <input name="amount" type="number"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>カテゴリー</label>
                <input name="category" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>アカウント</label>
                <input name="account" type="text"/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>メモ</label>
                <textarea name="memo" cols="32" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="submit" value="保存"/>
            </td>
        </tr>

    </table>
</form>

<table>
    <tr>
        <th>
            <form action="/prev"><input type="submit" value="<-"/></form>
        </th>
        <th><p id="year_month" th:text="${yearMonth[0]} + 年 + ${yearMonth[1]} + 月"></p></th>
        <th>
            <form action="/next"><input type="submit" value="->"/></form>
        </th>
    </tr>
</table>

<div class="expensesList" th:each="expense : ${expenseList}">
    <table style="border: 1px solid;">

        <tr>
            <td th:text="${expense.date}"></td>
            <td align="right" th:text="${expense.account}"></td>
        </tr>
        <tr>
            <td th:text="${expense.category}"></td>
            <td align="right" th:text="'¥' + ${expense.amount}"></td>
        </tr>
        <tr>
            <td th:text="${expense.memo}"></td>
            <td>
                <form action="/delete">
                    <button type="submit" id="delete_button">削除</button>
                    <input style="display: none;" name="id" th:value="${expense.id}"/>
                </form>
            </td>
        </tr>

    </table>
</div>
</body>
</html>